.newcontactmain {
    /* width: 20%; */
    
   
}
.newcontactmain label {
    text-align: center;
    color: #595959;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: white;
    box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.10);

}
button:hover {
    cursor: pointer;
    background-color: #595959;
    color: white;
}
.newcontactmain input {
    width: 100%;
    height: 40px;
    font-size: large
}