select {
    width: 100%;
    height: 40px;
    font-size: medium;
    text-align: center;
    /*  
    box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.10);
    border-radius: 5px; */

    /* max-width: 40px; */
    overflow-y: auto;
    cursor: pointer;
    /* padding: 15px 25px; */
    border: none;
    outline: none;
    border-radius: 12px;
    color: #444;
    /* font-size: 18px; */
    box-shadow: -3px 3px 5px 0px rgba(0,0,0,0.10);
}

select option {
    padding: 10px 20px;
    margin-bottom: 8px;
    border-radius: 12px;
    background-color: rgb(238, 238, 238);
    white-space: pre-wrap;
    cursor: pointer;
}


select option:hover{
    background-color: rgb(223, 223, 223);
  }
select option:checked{
    box-shadow: 0 0 10px 100px #595959 inset;
  }

.main {
    /* width: 20%; */
    height: 40%;


}

.main label {
    text-align: center;
    color: #595959;
}