@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  /* background-color: slategray; */
  background-color: rgb(230, 229, 229);
}


.MainPage {
  /* position: fixed; */
  /* left: 40%; */
  /* margin-right: -50%; */

  /* min-width: 100%;

  animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out; set animation duration and timing function */
    display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.LeftSide {
  /* width: 45%; */
}

.RightSide {
  /* width: 45%; */
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

h2 {
  color: #595959;
}